config.json
**/config.json
!config.example.json
!**/config.example.json
.power_recovery
[Bb]in/
[Oo]bj/
[Aa]rtifacts/
publish/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sln.iml
*.log
*.stackdump
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.idea/